*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;  
}

body, main, #keyboard{
    display: flex;
}

.draw-space{
    border: solid 4px #c1b7b7;
    background-color: #efefef;
    box-shadow: 0px 5px 13px 0px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #00000057;
}

main #calculator{
    width: 30rem;
    padding: 0.5rem;
    background: gainsboro;
    box-shadow: 0px 5px 13px 0px;
    margin-bottom: 3rem;
}

main #calculator #screen{
    background: #efefef;
    width: 100%;
    height: 8rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

main #calculator #screen #operation{
    color: #a9a9a9;
    margin-bottom: 1rem;
}

main #calculator #screen #process{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

main #calculator #keyboard{
    width: 100%;
    height: 23.5rem;
    flex-wrap: wrap;
}

#keyboard .button{
    width: 25%;
    border: solid 0.1rem #b3a4a4;
}

#keyboard .operator{

background: #dcdbdb;
}

#keyboard .result{
    
background: #a7a7ef;
}